html {
  box-sizing: border-box;
  font-size: 175%;
  font-weight: 300;
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  align-items: center;
  background-image: linear-gradient(236deg, #74ebd5, #acd6e5);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

.calculadora {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
  overflow: hidden;
}

.display-calculadora {
  background-color: #222222;
  color: #fff;
  font-size: 1.714285714em;
  padding:  0.5em 0.75em;
  text-align: right;
}

.chaves-calculadora {
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.chaves-calculadora > * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}

.chaves-calculadora > *:active::before,
.chaves-calculadora > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.3;
  position: absolute;
  z-index: 1;
}

.operador {
  background-color: #eee;
}

.igualdade {
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  grid-column: -2;
  grid-row: 2 / span 4;
}

.icon-back {
  width: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-next {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotate(180deg);
}